[Unit]
Description=ble_tracker
After=network-online.target

[Service]
Type=simple
User=%i
ExecStart=/usr/bin/python3 /pi/homeassistant/custom_components/ha-service/ble.py

[Install]
WantedBy=multi-user.target